.box{
    width: 250px;
    height: 350px;
    padding: 1rem;
    margin: 2rem;
    background-color: #7f8a82;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input{
    width: 200px;
}

button{
    background-color: #7f8a82;
    color: white;
    height: 30px;
}
div{
    margin: 1rem;
}